*{
    background: #000;
    color: aliceblue;
    margin: 0 0;
}


.container{
    margin: 17% 35%;
    border-color: white;
    border-width: 1px;
    width: 30rem;
    height: 15rem;
    display: flex;
    
}
.weeks{
    filter: blur(2px);
    
}
.time{
    margin: -2rem 3rem;
    font-size: 9rem;
    display: flex;
}
#todayDate{
color: white;
}
